In [1]:
import pandas as pd

In [120]:
data =pd.read_csv('./weatherHistory.csv')
data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [122]:
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95936 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            95936 non-null  object
 1   Summary                   95936 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           95936 non-null  float64
 4   Apparent Temperature (C)  95936 non-null  float64
 5   Humidity                  95936 non-null  float64
 6   Wind Speed (km/h)         95936 non-null  float64
 7   Wind Bearing (degrees)    95936 non-null  float64
 8   Visibility (km)           95936 non-null  float64
 9   Loud Cover                95936 non-null  float64
 10  Pressure (millibars)      95936 non-null  float64
 11  Daily Summary             95936 non-null  object
dtypes: float64(8), object(4)
memory usage: 9.5+ MB

In [123]:
data['Summary'].value_counts()

Summary
Partly Cloudy                          31635
Mostly Cloudy                          27914
Overcast                               16516
Clear                                  10763
Foggy                                   7117
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Breezy and Foggy                          35
Windy and Mostly Cloudy                   35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Windy and Dry                              1
Dangerously Windy and Partly Cloudy        1
Breezy and Dry                             1
Name: count, dtype: int64

In [124]:
selected_class= ["Partly Cloudy","Mostly Cloudy","Overcast","Clear","Foggy"]
data = data[data['Summary'].isin(selected_class)]
data['Summary'].value_counts()

Summary
Partly Cloudy    31635
Mostly Cloudy    27914
Overcast         16516
Clear            10763
Foggy             7117
Name: count, dtype: int64

In [125]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93945 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            93945 non-null  object
 1   Summary                   93945 non-null  object
 2   Precip Type               93945 non-null  object
 3   Temperature (C)           93945 non-null  float64
 4   Apparent Temperature (C)  93945 non-null  float64
 5   Humidity                  93945 non-null  float64
 6   Wind Speed (km/h)         93945 non-null  float64
 7   Wind Bearing (degrees)    93945 non-null  float64
 8   Visibility (km)           93945 non-null  float64
 9   Loud Cover                93945 non-null  float64
 10  Pressure (millibars)      93945 non-null  float64
 11  Daily Summary             93945 non-null  object
dtypes: float64(8), object(4)
memory usage: 9.3+ MB

In [126]:
summary_classes = {'Clear': 0,
               'Partly Cloudy': 1,'Mostly Cloudy': 1,
               'Overcast': 2,'Foggy': 2
              }
for i in summary_classes:    
    data['Summary']=data['Summary'].replace(i,summary_classes[i])
data

C:\Users\ISHHAQ\AppData\Local\Temp\ipykernel_17348\377480085.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Summary']=data['Summary'].replace(i,summary_classes[i])

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,1,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,1,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,1,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,1,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,1,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,1,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,1,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,1,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,1,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,1,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [127]:
data['Summary'].value_counts()

Summary
1    59549
2    23633
0    10763
Name: count, dtype: int64

In [128]:
data['Precip Type'].value_counts()

Precip Type
rain    83365
snow    10580
Name: count, dtype: int64

In [129]:
data['Precip Type'] = data['Precip Type'].replace("rain",0)
data['Precip Type'] = data['Precip Type'].replace("snow",1)
data['Precip Type'].value_counts()

C:\Users\ISHHAQ\AppData\Local\Temp\ipykernel_17348\937449448.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Precip Type'] = data['Precip Type'].replace("snow",1)

Precip Type
0    83365
1    10580
Name: count, dtype: int64

In [130]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93945 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            93945 non-null  object
 1   Summary                   93945 non-null  int64
 2   Precip Type               93945 non-null  int64
 3   Temperature (C)           93945 non-null  float64
 4   Apparent Temperature (C)  93945 non-null  float64
 5   Humidity                  93945 non-null  float64
 6   Wind Speed (km/h)         93945 non-null  float64
 7   Wind Bearing (degrees)    93945 non-null  float64
 8   Visibility (km)           93945 non-null  float64
 9   Loud Cover                93945 non-null  float64
 10  Pressure (millibars)      93945 non-null  float64
 11  Daily Summary             93945 non-null  object
dtypes: float64(8), int64(2), object(2)
memory usage: 9.3+ MB

In [131]:
data= data.drop('Daily Summary',axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93945 entries, 0 to 96452
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            93945 non-null  object
 1   Summary                   93945 non-null  int64
 2   Precip Type               93945 non-null  int64
 3   Temperature (C)           93945 non-null  float64
 4   Apparent Temperature (C)  93945 non-null  float64
 5   Humidity                  93945 non-null  float64
 6   Wind Speed (km/h)         93945 non-null  float64
 7   Wind Bearing (degrees)    93945 non-null  float64
 8   Visibility (km)           93945 non-null  float64
 9   Loud Cover                93945 non-null  float64
 10  Pressure (millibars)      93945 non-null  float64
dtypes: float64(8), int64(2), object(1)
memory usage: 8.6+ MB

In [132]:
data['Loud Cover'].value_counts()

Loud Cover
0.0    93945
Name: count, dtype: int64

In [133]:
data= data.drop('Loud Cover',axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93945 entries, 0 to 96452
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            93945 non-null  object
 1   Summary                   93945 non-null  int64
 2   Precip Type               93945 non-null  int64
 3   Temperature (C)           93945 non-null  float64
 4   Apparent Temperature (C)  93945 non-null  float64
 5   Humidity                  93945 non-null  float64
 6   Wind Speed (km/h)         93945 non-null  float64
 7   Wind Bearing (degrees)    93945 non-null  float64
 8   Visibility (km)           93945 non-null  float64
 9   Pressure (millibars)      93945 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 7.9+ MB

In [134]:
data['Formatted Date'] = pd.to_datetime(data['Formatted Date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93945 entries, 0 to 96452
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            93945 non-null  object
 1   Summary                   93945 non-null  int64
 2   Precip Type               93945 non-null  int64
 3   Temperature (C)           93945 non-null  float64
 4   Apparent Temperature (C)  93945 non-null  float64
 5   Humidity                  93945 non-null  float64
 6   Wind Speed (km/h)         93945 non-null  float64
 7   Wind Bearing (degrees)    93945 non-null  float64
 8   Visibility (km)           93945 non-null  float64
 9   Pressure (millibars)      93945 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 7.9+ MB

C:\Users\ISHHAQ\AppData\Local\Temp\ipykernel_17348\790110501.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  data['Formatted Date'] = pd.to_datetime(data['Formatted Date'])

In [135]:
data['Formatted Date'].describe()

count                         93945
unique                        93921
top       2010-08-02 23:00:00+02:00
freq                              2
Name: Formatted Date, dtype: object

In [137]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93945 entries, 0 to 96452
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            93945 non-null  object
 1   Summary                   93945 non-null  int64
 2   Precip Type               93945 non-null  int64
 3   Temperature (C)           93945 non-null  float64
 4   Apparent Temperature (C)  93945 non-null  float64
 5   Humidity                  93945 non-null  float64
 6   Wind Speed (km/h)         93945 non-null  float64
 7   Wind Bearing (degrees)    93945 non-null  float64
 8   Visibility (km)           93945 non-null  float64
 9   Pressure (millibars)      93945 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 7.9+ MB

In [138]:
data.to_csv('./weatherHistory_clean.csv')